.header {
  // background: #fff;
  background: #e5eef6;

  height: 10vh;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: 1s all ease;
  // margin-bottom: 500px;
  // border: 1px solid red;

  .header-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;

    // .logo-text {
    //   font-family: "Raleway", sans-serif;
    //   font-weight: 700;
    //   font-size: 20px;
    // }

    .nav-links {
      width: 50%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid purple;
        // font-family: "Roboto", sans-serif;
        font-family: "Libre Franklin", sans-serif;
        font-size: 15px;
        font-weight: 500;

        .services {
          position: relative;

          .subs {
            position: absolute;
            border: 1px solid black;
            width: 150px;
            display: none;
          }
          .show-subs {
            display: block;
          }
        }
        .appointment {
          background-color: #00387a;
          color: #fff;
          padding: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
// li:active,
// li:hover,
// li:visited {
//   color: red;
// }
// .subs {
//   display: none;
// }
.white {
  background: #fff;
  position: fixed;
}

@media (max-width: 700px) {
  .header {
    height: 5vh;

    .header-container {
      flex-direction: column;
      align-items: unset;
      width: 100%;

      .logo {
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-between;

        .harmburger div {
          background: #000;
          margin: 3px;
          border-radius: 3px;
          height: 4px;
          width: 30px;
          transition: 0.5s ease;
        }
        .rotate .menu-bar1 {
          width: 25px;
          transform: rotatez(-45deg) translateY(10px);
        }
        .rotate .menu-bar2 {
          transform: translateX(20px);
          opacity: 0;
        }
        .rotate .menu-bar3 {
          width: 25px;
          transform: rotateZ(45deg) translateY(-10px);
        }
      }
      .nav-links {
        width: 100%;
        position: absolute;
        top: 5vh;
        transition: all 0.5s ease;
        // z-index: -10;
        opacity: 0;
        visibility: hidden;

        background: rgb(221, 221, 221);
        ul {
          flex-direction: column;
          width: 85%;
          margin: auto;
          border: 1px solid black;

          .services .subs {
            position: unset;
          }
        }
      }
      .show-navs {
        // display: none;
        // opacity: 1;
        opacity: 1;
        visibility: unset;
        // transition: all 2s ease;
      }
    }
  }
}
